
<h1>Sign Up!</h1>

<%= form_for(@user) do |u| %>
  <%= u.label "username" %>
  <%= u.text_field :username %><br>

  <%= u.label "email" %>
  <%= u.text_field :email %><br>

  <%= u.label "password" %>
  <%= u.password_field :password %><br>

  <%= u.submit "Let's Party" %>
<% end %>

<h1>Sign In!</h1>

<%= form_tag(sessions_path) do |u| %>

  <%= text_field_tag :email, '', :placeholder => "Email" %><br>
  <%= password_field_tag :password, '', :placeholder => "Password" %><br>

  <%= submit_tag "Log In" %>
<% end %>
