<h1 id="title">In The Wav.</h1>

<div id="main">
  <div id="grid">
    <div id="album_add_container">

    <p><%= current_user.username %></p>
    <p><%= link_to "Logout", logout_path %></p>
      <h5>Add Album</h5>
        <%= form_tag(album_search_url(@user), {:id => 'search_form'}) do %>
          <%= text_field_tag :search %><br>
          <%= hidden_field_tag 'credentials', current_user.credentials %>
          <%= submit_tag "Search", data: { disable_with: false } %>
        <% end %>
      <div id="search_results">
        <ul>
        </ul>
      </div>
    </div>

    <div id="album_list_container">
      <ul id="album_list">
        <% current_user.albums.each do |a| %>
          <li class="albums"><%= link_to (image_tag(a.image_url, :alt => "album_cover", height: "125", width: "125")), [current_user, a], class: "more_info"%></li>
        <% end %>
      </ul>
    </div>

    <div id="album_info_container">
      <h4>Album Details</h4>
      <div id="show_album">
      </div>
    </div>
  </div>
</div>
