<div id="album_index">

  <div id="album_section">

  <h1> Hello <%= current_user.username %> </h1>
  <%= link_to "Logout", logout_path %>
    <h5>Add Album</h5>
      <%= form_tag(user_albums_path, {:id => 'search_form'}) do %>
        <%= text_field_tag :search %><br>
        <%= hidden_field_tag 'credentials', current_user.credentials %>
        <%= submit_tag "Search" %>
      <% end %>
    <h5>Results</h5>
    <div id="search_results">
      <ol>
      </ol>
    </div>
  </div>

  <div id="album_section">
    <h5>Top Albums</h5>
      <% current_user.albums.each do |a| %>
        <li><%= a.name %></li>
      <% end %>
  </div>

  <div id="album_section">
    <h5>Album Details</h5>

  </div>
</div>
