<h1> Hello <%= current_user.username %> </h1>

<h5>Add Album</h5>

<%= form_tag('#', {:onSubmit => 'searchAlbums(params[:search]);'}) do %>

  <%= text_field_tag :search %><br>
  <%= submit_tag "Search" %>

<% end %>

<h5>Results</h5>

<h5>Top Albums</h5>
<% current_user.albums.each do |a| %>
  <li><%= a.name %></li>
<% end %>


<%= link_to "Logout", logout_path %>

<script>
  $(function() {
    $("#search").on("submit", function(e){
      alert("Yo what up!");
      e.preventDefault();
    })
  })
</script>
